@mixin linearVerticalGradient($top, $bottom, $start-percent: 0%, $end-percent: 100%){
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top,  $top $start-percent, $bottom $end-percent); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop($start-percent,$top), color-stop($end-percent,$bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $top $start-percent,$bottom $end-percent); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $top $start-percent,$bottom $end-percent); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $top $start-percent,$bottom $end-percent); /* IE10+ */
  background: linear-gradient(to bottom,  $top $start-percent,$bottom $end-percent); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

@mixin linearHorizontalGradient($top, $bottom, $start-percent: 0%, $end-percent: 100%){
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(left,  $top $start-percent, $bottom $end-percent); /* FF3.6+ */
  background: -webkit-linear-gradient(left,  $top $start-percent,$bottom $end-percent); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  $top $start-percent,$bottom $end-percent); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  $top $start-percent,$bottom $end-percent); /* IE10+ */
  background: linear-gradient(to right,  $top $start-percent,$bottom $end-percent); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}