@import "settings";
@import "mixins";
@import "flexboxgrid_settings";

html {
  height: 100%;
  font-family: 'Roboto', helvetica, sans-serif;
}

body {
  min-height: 100%;
  margin: 0;
  /*@include linearHorizontalGradient($primary_purple, $primary_yellow, 50%, 50%);*/
}

.full-height {
  min-height: 100%;
}

.no-margin {
  margin: 0;
}

.app {
  background-attachment: fixed;
  height: 100vh;
}

main.content-wrapper {
  color: black;
  height: 100vh;
  padding-top: $content_top_offset;
  @include leftRightDiagonalGradient($primary_purple, $primary_pink, 50%, 50%);
  .content {
    min-height: $content_min_height;
    max-height: $content_max_height;
    min-width: $content_min_width;
    max-width: $content_max_width;
    padding: 0;
    overflow: auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
}

div.posts {
  overflow: scroll;
  background: $content_background;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  min-height: $posts_min_height;
}

div.post-list-item-content {
  display: -webkit-box;
  -webkit-box-clamp: 2;
  -webkit-box-orient: vertical;
  p {
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p:first-letter {
    text-transform:capitalize;
  }
  p.posted-by {
    margin: 4px 0 0;
    line-height: 16px;
    height: 16px;
    > span {
      font-weight: 500;
      color: $secondary_purple;
    }
  }
}

div.post-detail {
  padding: 24px 0 0;
  border-radius: 2px;

}

div.post-detail-content {
  padding: 16px 16px 0;
  > p:first-letter {
    text-transform:capitalize;
  }
  p.post-title {
    margin: 0;
    font-size: $post_title_font_size;
    line-height: $post_title_font_size;
    font-weight: 500;
  }
}

div.post-comments-wrapper {
  background: $post_comments_background;
  padding: 0 16px;
}

div.comments-list-item {
  p.comment-primary-text {
    margin: 0;
    font-size: 14px;
  }
  p.comment-secondary-text span {
    font-weight: 500;
  }
  &:hover {
    p.comment-secondary-text span {
      color: $primary_pink;
    }
  }
}

//Scrollbar
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-button {
  width: 6px;
  height:5px;
}
::-webkit-scrollbar-track {
  /*background:#eee;
  box-shadow: 0px 0px 3px #dfdfdf inset;
  border-radius:10px;*/
}
::-webkit-scrollbar-thumb {
  background: #b9b9b9;
  border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #969696;
}
//END Scrollbar